<style type="text/css">	
	.title {
		color: #00B7F7;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 40px;
		margin-top: 12%;
	}

	.body {
		font-size: px;
	}
	.container{
		background-color: #000;
		background-repeat: none;
		background-attachment: scroll;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		text-align: center;
		color: #fff;
	}
	.mid-left{
		float: left;
	}
	.mid-right{
		float: right;
		float: relative;
	}
	.logo{
		margin: 0 auto;
		margin-top: 20px;
		border: 7px solid #fff;
		border-radius: 100px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="mid-left">
			<img src="<%= image_path('nfc.png') %>" width="150" class="logo">
		</div>
		<div class="mid-right">
			<div class="title">
				Bienvenido a nuestra comunidad
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p class="body">En breve estaremos comunicándones con usted o su empresa, mediante los medios que nos ha brindado.
			</p>
			<p class="body">No dude en responder éste mensaje para consultas de cualquier tipo.
			</p>
		</div>
	</div>
</div>